/**************/
/* Navigation */
/**************/
.top-header{
	padding: 0.8em 0em;
}
.top-nav ul li a{
	color: #FFF;
	padding: 0.2em 1.5em;
	font-size: 0.9em;
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
	position: relative;
}
.top-nav ul li.active a, .top-nav ul li a:hover{
	color:#EE2F1B;
}
.top-nav:before, .top-nav:after {
    content: " ";
    display: table;
}
.top-nav:after {
    clear: both;
}
nav {
	position: relative;
	float: right;
}
nav ul {
	padding: 0;
	float: right;
	margin: 0.9em 0;
}
nav li {
	display: inline;
	float: left;
	position:relative;
}
nav a {
	color: #fff;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	line-height: 40px;
}
nav a:hover{
	text-decoration:none;
	color:#00A2C1;
}
nav a#pull {
	display: none;
}

/**********************/
/**********************/
/* Responsive Designt */
/**********************/
/**********************/

@media screen and (max-width: 768px) {
	nav { 
  		height: auto;
  		float:none;
  	}
  	nav ul {
  		width: 100%;
  		display: block;
  		height: auto;
  	}
  	nav li {
  		width: 100%;
  		position: relative;
  	}
  	nav li a {
		border-bottom: 1px solid #eee;
	}
  	nav a {
	  	text-align: left;
	  	width: 100%;
  	}
}

@media only screen and (max-width : 768px) {
	nav {
		border-bottom: 0;
		float:none;
	}
	nav ul {
		display: none;
		height: auto;
		margin: 1.5em 0 0 0;
		background: #fff;
	}
	nav a#pull {
		display: block;
		position: relative;
		color: #F26D7D;
		text-align: right;
		position: absolute;
		top: 23px;
	}
	nav a#pull:after {
		content:"";
		background: url('nav-icon.png') no-repeat;
		width: 30px;
		height: 30px;
		display: inline-block;
		position: absolute;
		right: 15px;
		top: 10px;
	}
	nav a#pull img{
		margin-right: 0%;
	}
	.top-nav ul li a {
		color: #2C3E50;
		padding: 0.4em 0;
	}
}

@media only screen and (max-width : 320px) {
	nav {
		float:none;
	}
	nav li {
		display: block;
		float: none;
		width: 100%;
	}
	nav li a {
		border-bottom: 1px solid #EEE;
	}
	.top-nav ul li a {
		padding: 0.2em 0;
	}
}