/**********/
/* Button */
/**********/
a.cbutton {
	/* Format */
	display: inline-block;
	*display: inline;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
	height: 50px;
	background:#39d084;
	
	/* Text */
	font-size: 1.5em;
	font-weight: bold;
	color:#fff;

	/* Text Position */
	padding: 10px;
    display: table-cell;
	text-align: center;
	vertical-align: middle;
	
	/* Space between Elements */
	margin:20px;
}

a.cbutton:hover {
	text-decoration:none;
	background:#11d170;
}

a.cbutton.small {	
	/* Format */
	height: 15px;
	
	/* Text */
	font-size: 0.8em;

	/* Text Position */
	padding: 3px 10px 3px 10px;
    display: table-cell;
	text-align: center;
	vertical-align: middle;
}

/**********/
/* Circle */
/**********/
.circle .blue, .circle .orange, .circle .red, .circle .green, .circle .purple {
	/* Format */
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	float:left; /* Create elements from left to right */
	
	/* Transition */
	-webkit-transition: all 0.0s linear;
	-ms-transition: all 0.0s linear;
	-moz-transition: all 0.0s linear;
	-o-transition: all 0.0s linear;
	transition: all 0.0s linear;

	/* Size */
	width:150px;
	height:150px;
	
	/* Space between Elements */
	margin:20px;
}
/* Note: Use 'span' into 'div' to align vertically the text */
.circle .blue span, .circle .orange span, .circle .red span, .circle .green span, .circle .purple span {   
	/* Size */
	height: 150px;
	width: 150px;
	
	/* Text */
	text-transform: uppercase;
	font-size: 1em;
	font-weight: bold;
	color:#fff;

	/* Text Position */
    display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.circle .blue {
	background:#30a5dc;
}
.circle .orange {
	background:#ee742b;
}
.circle .red{
	background:#f04949;
}
.circle .green{
	background:#39d084;
}
.circle .purple{
	background:#afbde4;
}
/**********/
/* Square */
/**********/
.square .blue, .square .orange, .square .red, .square .green, .square .purple {

	-webkit-border-radius: 10%;
	-moz-border-radius: 10%;
	border-radius: 10%;
	float:left; /* Create elements from left to right */

	/* Transition */
	-webkit-transition: all 0.0s linear;
	-ms-transition:all 0.0s linear;
	-moz-transition: all 0.0s linear;
	-o-transition: all 0.0s linear;
	transition: all 0.0s linear;
	
	/* Size */
	width:90px;
	height:90px;
	
	/* Space between Elements */
	margin:10px;
}

/* Note: Use 'p' into 'div' to align vertically the image */
.square p {
	text-align: center; 
	color: #000000;
	font-weight: none;
	font-size: 1em;
	margin: 10px 0 0 0;
}
.square .blue img, .square .orange img, .square .red img, .square .green img, .square .purple img {
	vertical-align: middle;
	
	/* Size */
	height: 70%;
	width: 70%;
}
.square .blue span, .square .orange span, .square .red span, .square .green span, .square .purple span {
	/* Text */
	text-transform: uppercase;
	font-size: 0.9em;
	font-weight: bold;
	color:#fff;
}
.square .blue h3, .square .orange h3, .square .red h3, .square .green h3, .square .purple h3 {
	font-size: 2em;
}
.square .blue {
	background:#30a5dc;
}
.square .orange {
	background:#ee742b;
}
.square .red{
	background:#f04949;
}
.square .green{
	background:#39d084;
}
.square .purple{
	background:#afbde4;
}
/*********************/
/* Responsive Design */
/*********************/
@media screen and (max-width: 768px) {

	a.cbutton.small {
		display: none;
	}
	.circle .blue, .circle .orange, .circle .red, .circle .green, .circle .purple {
		width:100px;
		height:100px;
		margin:10px;
	}
	.circle .blue span, .circle .orange span, .circle .red span, .circle .green span, .circle .purple span {   
		height: 100px;
		width: 100px;
		font-size: 0.7em;
	}
	.square .blue, .square .orange, .square .red, .square .green, .square .purple {
		width:70px;
		height:70px;
		margin:5px;	
	}
	.square p {
		margin-top:5px; 
	}
	.square .blue span, .square .orange span, .square .red span, .square .green span, .square .purple span {
		font-size: 0.7em;
	}	
	
}
