/*
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/

/*  Colors:
	Blue: #30a5dc;
	Orange: #ee742b;
	Red: #f04949;
	Green: #39d084; 
	yellow: #ffff93;
	purple: #afbde4;
	
	padding: 25px 50px 75px 100px;
	top padding is 25px
	right padding is 50px
	bottom padding is 75px
	left padding is 100px
*/



html, body{
  	font-family: 'Open Sans', sans-serif;
    font-size: 100%;
  	background: #FFF;
  	-webkit-font-smoothing: antialiased;
}
body a{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}



/*************/
/* Container */
/*************/
.container{
	width: 70%;
}

.container h1{
	font-weight: 700;
	font-size: 3.5em;
	text-transform: uppercase;
	line-height: 1.3em;
}

.fondo {
	background: #FFF;
	opacity: 0.8;
}

/**********/
/* Header */
/**********/
.bg{
	background:url(../images/baner.jpg) no-repeat 0px 0px;
	background-size: cover;
}
.header{
}

.dialogo {
	background-color: 000;
	opacity: 0.7;
}

/*******************/
/* Donwload Resume */
/*******************/
.downloadResume { 
	position: fixed; 
	bottom: 5px; 
	left: 5px; 
	background-color: transparent; 
	z-index: 9999; /* High number, because this 'div' is in front of the all 'div' objects */
}

.downloadResume2 { 
	position: fixed; 
	bottom: 1px; 
	left: 1px; 
	background-color: transparent; 
	z-index: 9999; /* High number, because this 'div' is in front of the all 'div' objects */
	display: none;
}

/********/
/* Logo */
/********/
.logo{
	float: left;
	margin-top: 0.6em;
	margin-left: 20px;
}
.logo a{
	display: block;	
	color: #303030;
	font-weight: 200;
	text-transform: uppercase;
	font-size: 2.5em;
}
.logo a:hover{
	text-decoration:none;
}
/**********/
/* Banner */
/**********/
.banner-info{
	padding: 9em 0 12em; /* Top, Right and Bottom */
}
.banner-info h1{
	font-weight: 700;
	font-size: 3.5em;
	color: #FFF;
	text-transform: uppercase;
	width: 70%;
	display: inline-block;
	line-height: 1.3em;
}
.banner-info span{
	width:15%;
	height:1px;
	background:#35C2F8;
	display:inline-block;
}
.banner-info p{
	color: #CCCCCC;
	font-weight:400;
	font-size: 1.3em;
	line-height: 1.7em;
	margin: 1em auto;
	width: 50%;
}

/*************/
/* Education */
/*************/
.education{
	background:url(../images/about-bg.jpg);
	padding: 2em 0 2em 0;
	line-height: 1.3em;
	overflow: hidden;
}
.education a:hover{
	text-decoration:none;
}
.education img {
	/* Transition */
	-webkit-transition: all 0.0s linear;
	-ms-transition: all 0.0s linear;
	-moz-transition: all 0.0s linear;
	-o-transition: all 0.0s linear;
	transition: all 0.0s linear;

	/* Size */
	width: auto;
	height: 64px;
}
.education h3 {
	color: #222;
	font-weight: bold;
	font-size: 1.4em;
	text-transform: uppercase;
}
.education h3 a:hover{
	color:#F4BB36;
	text-decoration:none;
}
.education p{
	color: #000000;
	font-weight:400;
	font-size: 1.3em;
}

/*************/
/* About */
/*************/
.about {
	background:url(../images/about-bg.jpg);
	padding: 2em 0 2em 0;
}

.about .photo {
	/* Format */
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	clear: both;
	
	/* Transition */
	-webkit-transition: all 0.0s linear;
	-ms-transition: all 0.0s linear;
	-moz-transition: all 0.0s linear;
	-o-transition: all 0.0s linear;
	transition: all 0.0s linear;

	/* Size */
	width:150px;
	height:150px;
}

.about p{
	color: #000000;
	font-weight: none;
	font-size: 1.3em;
	margin: 1.5em 0 1.5em 0;
}

/***********/
/* Contact */
/***********/
.contact{
	background: #111111;
	padding: 5em 0 0;
}

.contact-left h1{
	color:#FFF;
}
.contact-left label{
	font-weight: 400;
	line-height: 1.7em;
	color: #FFF;
	margin-bottom:1.8em;
	display:block;
}
.contact-left-grid p,.contact-left-grid p a{
	color: #FFF;
	font-weight: 300;
	font-size: 1.1em;
	margin: 0.8em 0;
}
.contact-left-grid p a{
	text-decoration:none;
}
.contact-left-grid p a:hover{
	color:#35C2F8;
}
.contact-left-grid p span{
	display: inline-block;
	vertical-align: middle;
}
.contact-left-grid p span img{
	width: 28px;
	height: 32px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
.contact-left-grids div.col-md-6{
	padding:0;
}
.contact-right-grid p,.contact-right-grid p a{
	color: #FFF;
	font-weight: 300;
	font-size: 1.1em;
	margin: 0.8em 0;
}
.contact-right-grid p a{
	text-decoration:none;
}
.contact-right-grid p a:hover{
	color:#35C2F8;
}
.contact-right-grid p span{
	display: inline-block;
	vertical-align: middle;
}
.contact-right-grid p span img{
	width: 28px;
	height: 32px;
	margin: 0;
	padding: 0;
}
.contact-right-grids div.col-md-6{
	padding:0;
}
.contact-right input[type="text"],.contact-right textarea{
	width:100%;
	padding:0.8em;	
	color:#777;
	font-weight:300;
	border-radius:0.3em;
	-webkit-border-radius:0.3em;
	-moz-border-radius:0.3em;
	-o-border-radius:0.3em;
	-ms-border-radius:0.3em;
	outline:none;
	border:1px solid #111111;
	transition:border-color 0.4s;
	-webkit-transition:border-color 0.4s;
	-moz-transition:border-color 0.4s;
	-o-transition:border-color 0.4s;
	-ms-transition:border-color 0.4s;
	margin:0 0 1em 0;
}
.contact-right input[type="text"]:hover,.contact-right textarea:hover{
	border-color:#35C2F8;
}
.contact-right textarea{
	outline:none;
	min-height:150px;
}
.contact-right input[type="submit"]{
	background:#35C2F8;
	padding:0.9em 1.5em; /* Top and Right */
	color:#FFF;
	text-transform:uppercase;
	border-radius:3em;
	border:none;
	cursor:pointer;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.contact-right input[type="submit"]:hover{
	background:#EE2F1B;
}

/*************/
/* CopyRight */
/*************/
.copy-right p{
	color:#FFF;
	font-size:1em;
	border-top:1px solid #FFF;
	padding:1.5em 0; /* Top and right */
	font-weight:300;
	margin-top:5em;
}
.copy-right p a{
	color:#35C2F8;
}
.copy-right p a:hover{
	color:#FFF;
	text-decoration:none;
}

/*********/
/* ToTop */
/*********/
#toTop {
	display: none;
	text-decoration: none;
	text-indent: 100%;
	
	/* Format */
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	border: 1px solid #000;
	
	/* Image as background */  
	background: url("../images/to-top1.png") no-repeat 0px 0px;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
  	  
	  
	/* Position */
	position: fixed;
	bottom: 14px;
	right: 3%;
	overflow: hidden;
}

#toTopHover {
	width: 40px;
	height: 40px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}

/*********************/
/*********************/
/* Responsive Design */
/*********************/
/*********************/

@media (max-width:1440px){
	.container{
		width:80%;
	}
}
@media (max-width:1280px){
	.container{
		width:80%;
	}
}
@media (max-width:1024px){
	.container{
		width:80%;
	}	
	.container h1 {
		font-size: 3.2em;
	}
	.banner-info h1 {
		font-size: 3.2em;
		width: 80%;
	}
	.banner-info p {
		width: 60%;
	}
}
@media (max-width:768px){
	.container{
		width:80%;
	}
	.container h1 {
		font-size: 2.8em;
	}
	.banner-info h1 {
		font-size: 2.8em;
		width: 100%;
	}
	.banner-info p {
		width: 90%;
	}
	.education img {
		width: auto;
		height: 64px;
	}
	.education h3 {
		font-weight: 300;
		font-size: 1.2em;	
	}
	.education p{
		font-weight:200;
		font-size: 1em;
	}
	.about img{
		width:64px;
		height:64px;
	}
	.about p{
		font-size: 1em;
	}
	.contact {
		padding: 3em 0 0; /* Top, Right and Bottom */
	}
	.contact-left{
		margin:0 0 1em 0;
	}
	.downloadResume {
		display: none;
	}
	.downloadResume2{
		display: block;
	}
}
@media (max-width:640px){
	.container{
		width:80%;
	}
	.container h1 {
		font-size: 2.3em;
	}	
	.banner-info {
		padding: 5em 0 7em; /* Top and Right */
	}
	.banner-info h1 {
		font-size: 2.3em;
		width: 100%;
	}
	.banner-info p {
		width: 100%;
		font-size: 1.2em;
	}
	.contact {
		padding: 3em 0 0; /* Top, Right and Bottom */
	}
	.contact-left{
		margin:0 0 1em 0;
	}
}
@media (max-width:480px){
	.container{
		width:80%;
	}
	.container h1 {
		font-size: 1.7em;
	}	
	.banner-info {
		padding: 3em 0 4em; /* Top, Right and Bottom */
	}
	.banner-info h1 {
		font-size: 1.7em;
		width: 100%;
	}
	.banner-info p {
		width: 100%;
		font-size: 0.875em;
	}
	.contact {
		padding: 3em 0 0; /* Top, Right and Bottom */
	}
	.contact-left{
		margin:0 0 1em 0; /* Top, Right, Bottom and Left */
	}
	.contact-right input[type="text"], .contact-right textarea,.contact-right input[type="submit"]{
		-webkit-appearance:none;
		resize:none;
	}
	.contact-right input[type="submit"] {
		padding: 0.7em 0em; /* Top and Right */
		width: 100%;
		outline:none;
	}
	.copy-right p{
		padding:1.5em 0 1.2em; /* Top, Right, Bottom and Left */
		margin-top:3em;
	}
}
@media (max-width:320px){
	.container{
		width:90%;
	}
	.container h1 {
		font-size: 1.2em;
	}	
	.banner-info {
		padding: 2em 0 3em; /* Top, Right and Bottom */
	}
	.banner-info h1 {
		font-size: 1.2em;
		width: 100%;
	}
	.banner-info p {
		width: 100%;
		font-size: 0.875em;
	}
	.contact {
		padding: 1.8em 0 0; /* Top, Right and Bottom */
	}
	.contact-left{
		margin:0 0 1em 0; /* Top, Right, Bottom and Left */
	}	
	.contact-right-grid p, .contact-right-grid p a {
		font-size: 0.9em;
	}
	.contact-left-grid p, .contact-left-grid p a {
		font-size: 0.9em;
	}
	.contact-left label {
		font-size: 0.8em;
	}		
	.contact-right input[type="text"], .contact-right textarea,.contact-right input[type="submit"]{
		-webkit-appearance:none;
		resize:none;
	}
	.contact-right input[type="submit"] {
		padding: 0.7em 0em; /* Top, Right and Bottom */
		width: 100%;
		outline:none;
	}
	.copy-right p{
		padding:1.5em 0 1.2em; /* Top, Right and Bottom */
		margin-top:3em;
	}
}